In [1]:
import pandas as pd

In [2]:
z1 = pd.read_excel('z1.xlsx')

In [8]:
dxf_series = z1['nazwa_dxf']

In [9]:
wykaz_series = z1['nazwa_wykaz']

In [18]:
def fx(x):
    return x+2

In [24]:
l1 = [i+2,i+1,3]

NameError: name 'i' is not defined

In [27]:
print(
    map(fx(l1),l1(2))
)

TypeError: can only concatenate list (not "int") to list

In [28]:
numbers = (1, 2, 3, 4)
result = map(lambda x: x*x, numbers)
print(result)

# converting map object to set
numbersSquare = set(result)
print(numbersSquare)

<map object at 0x7fda343b0250>
{16, 1, 4, 9}

In [29]:
result

In [30]:
set(result)

set()

In [35]:
(lambda x: 2+x if x>3 else 2)(4)

6

In [40]:
a =map (
    lambda element: element, [3,2,3]
)

In [41]:
print(a)

<map object at 0x7fda343b0f40>

In [42]:
for i in a:
    print(i)

3
2
3

In [46]:
b=map(lambda element: element +2 ,[3,4,5])
for i in b : print(i)

5
6
7

In [58]:
diki = {1:[2,3],2:[4,4],3:[3,2]}

In [59]:
diki

{1: [2, 3], 2: [4, 4], 3: [3, 2]}

In [60]:
diki[1]

[2, 3]

In [111]:
a = diki[3]
b = diki[1]

In [112]:
a

[2, 3]

In [113]:
x=sorted(str(a))

In [114]:
y=sorted(str(b))

In [115]:
a == b or sorted(b)

True

In [118]:
def DXF(file):
    return {file.iloc[i,1] :[file.iloc[i,2],file.iloc[i,3]] for i in range(len(file))}
   
def wykaz(file):
    return {file.iloc[i,6] :[file.iloc[i,7],file.iloc[i,8]] for i in range(len(file))}

In [125]:
 d=DXF(z1)
d

{'bl5_s235_sl200041_p1_GS': [100, 300],
 'bl5_s235_sl200042_p1_1szt_G': [200, 111],
 'bl5_s235_sl200043_p1_3szt_GS': [300, 11],
 'bl5_s235_sl200044_p1_2szt_GS': [400, 23]}

In [120]:
z1

,lp,nazwa_dxf,x,y,uwaga,lp.1,nazwa_wykaz,abmess1,abmess2,gatunek
0,1,bl5_s235_sl200041_p1_GS,100,300,NaN,4,bl5_s235_sl200044_p1_2szt_GS,400,23,NaN
1,2,bl5_s235_sl200042_p1_1szt_G,200,111,NaN,3,bl5_s235_sl200043_p1_3szt_GS,300,11,NaN
2,3,bl5_s235_sl200043_p1_3szt_GS,300,11,NaN,2,bl5_s235_sl200042_p1_1szt_G,200,111,NaN
3,4,bl5_s235_sl200044_p1_2szt_GS,400,23,NaN,1,bl4_s355_sl10000_p2_4szt_S_089,100,300,NaN

In [126]:
w=wykaz(z1)
w

{'bl5_s235_sl200044_p1_2szt_GS': [400, 23],
 'bl5_s235_sl200043_p1_3szt_GS': [300, 11],
 'bl5_s235_sl200042_p1_1szt_G': [200, 111],
 'bl4_s355_sl10000_p2_4szt_S_089': [100, 300]}

In [136]:
for i in w:
    
    if i not in d:
        print(i,'NIE MA DXFa w wykazie')

bl4_s355_sl10000_p2_4szt_S_089 NIE MA DXFa w wykazie

In [138]:
nie_ma = [i for i in w if i not in d]
nie_ma

['bl4_s355_sl10000_p2_4szt_S_089']

In [140]:
jest = [i for i in w if i in d]
jest

['bl5_s235_sl200044_p1_2szt_GS',
 'bl5_s235_sl200043_p1_3szt_GS',
 'bl5_s235_sl200042_p1_1szt_G']

In [151]:
#POROWNANIE 2 SLOWNIKOW

for i in d:
    if i in w:
        print(i, "nazwa dxf jest w WYKAZIE")
        if d[i] == w[i] or sorted(w[i]):
            print('DOBRY WYMIAR')
    else: 
        print(i,'ZLA NAZWA')

bl5_s235_sl200041_p1_GS ZLA NAZWA
bl5_s235_sl200042_p1_1szt_G nazwa dxf jest w WYKAZIE
DOBRY WYMIAR
bl5_s235_sl200043_p1_3szt_GS nazwa dxf jest w WYKAZIE
DOBRY WYMIAR
bl5_s235_sl200044_p1_2szt_GS nazwa dxf jest w WYKAZIE
DOBRY WYMIAR

bl5_s235_sl200044_p1_2szt_GS jest w wykazie

NameError: name 'sprawdz_wymiar' is not defined